<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CinemaBook.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>36EC47F71F501F2300F8D29C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36EC480B1F501F2300F8D29C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36EC48161F501F2300F8D29C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
